{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Adder</title>
	{% bootstrap_css %}
	{% bootstrap_javascript jquery='full'%}
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="#">Navbar</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	    <div class="navbar-nav">
	      <a class="nav-item nav-link" href="/">Add <span class="sr-only">(current)</span></a>
	      <a class="nav-item nav-link active" href="/search">Search</a>
	    </div>
	  </div>
	</nav>
	<div class="container text-center">
		<h1 class="display-2"> Search </h1>
		<div class="input-group input-group-lg">
		  <div class="input-group-prepend">
		    <span class="input-group-text" id="inputGroup-sizing-lg">Enter Name</span>
		  </div>
		  <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" id="searchInput">
		</div>

		<div id="searchResult"></div>
	</div>
	<script type="text/javascript" src="{% static 'search/search.js' %}"></script>
</body>
</html>